*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    padding-top: 75px;
}

.header{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 77px
}

.header ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header li {
    list-style-type: none;
}

.header a {
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: small; font-weight: 400;
}

.header a:hover {
    color: gray;
}

.header ul li img:hover {
    filter: grayscale(100%) brightness(1000%) invert(50%); 
    scale: 1.1;
}

.logo{
    height: 30px; width: 200px;
    cursor: pointer;
}

li img{
    filter: grayscale(100%) brightness(1000%) invert(100%); 
    margin-top:10px; margin-left: 15px; 
    cursor:pointer; 
    height: 20px; width: 20px;
}

.nav ul {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.nav li {
    list-style-type: none;
}

.nav a {
    display: inline-block;
    padding: 15px 25px;
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
    color: grey;
    font-weight: 500;
    transition: transform 0.1s ease-in-out;
}

.nav a:hover {
    transform: scale(1.1);
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.nav a.active {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

/*      Main section    */

.main {
    padding: 0 13%;
}

.main .banner {
    width: 100%;
    max-width: 100%;
    height: auto;

    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main h2:first-child {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
    text-align: center;
}

.collection_container{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 1px;
    border-radius: 10px;
}

.filter{
    position: sticky;
    top: 77px; /*don't use heigh z-index because it need to go through and hide under header when scroll to end of page*/
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 600px;
    overflow-y: scroll;
}

.filter h3{
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 600;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h4 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
}

.filter-section ul {
    list-style-type: none;
}

.filter-section li {
    display: flex; /*To make bottom edge of label and check box to be the same*/
    align-items: center;
    margin-bottom: 10px;
}

.filter-section input[type="checkbox"] {
    margin-right: 10px;
}

.filter-section label {
    font-size: 14px;
    color: #555;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    max-width: calc(100% - 250px - 10px);
}

#search_form{
    background-color: white;
    position: sticky;
    top: 77px;
    z-index: 1000;
}

.content form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: fit-content;
}

.content form i {
    transform: translate(100%, 38%);
}

.content input{
    font-size: medium;
    width: 80%;
    padding: 10px;
    padding-left: 40px;
    border-radius: 10px;
    margin: 10px 0;
    margin-right: 20px;
    margin-left: -15px;
}

.content button {
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    margin: 10px 0;
    min-width: fit-content;
    transition: transform 0.1s ease-in-out;
}

.content button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.content .product_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
    width: 100%;
}

.content .product{
    overflow: hidden;
    border-radius: 10px;
    text-align: left;
    height: 305px;
    width: 250px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: transform 0.3s ease-in-out;
}

.content .product:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.content .product img {
    display: block;
    margin: 10px 10px 0 10px;
    width: 230px;
    height: 200px;
    border-radius: 10px;
}

.content .product h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px;
    font-family: Rouge;
}

.content .product p{
    font-size: 0.9rem;
    margin: 0 10px;
}

.footer{
    background-color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.footer .join {
    background-color: black;
    color: white;
    margin: 20px 0 40px;
    font-weight: 600;
    font-size: medium;
}

.footer .join:hover{
    color: gray;
    cursor: pointer;
}

.footer img{
    filter: grayscale(100%) brightness(1000%) invert(100%); 
}

.footer_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0 0 40px 0;
    justify-content: space-around;
    gap: 4rem;
    align-items: flex-start;
}

.footer_content div{
    max-width: 300px;
}

.footer_content h1{
    color: black;
    font-size: large;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
    font-weight: 600;
}

.footer_content p, .footer_content a{
    text-align: left;
    font-size: small;
    line-height: 2;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.footer_content p:hover{
    color: gray;
}

.footer_content p:hover a{
    color: gray;
}

.footer_content a:hover{
    color: gray;
}

.footer i{
    margin: 0 10px 0 0;
}

.footer input {
    border-radius: 10px;
    height: 2.5rem;
    padding: 10px;
    margin: 20px 20px 0 0;
    transition: transform 0.1s ease-in-out;
}

.footer input:focus {
    outline: none;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
    transform: scale(1.05);
}

.footer button {
    border-radius: 10px;
    height: 2.5rem;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    transition: transform 0.1s ease-in-out;
}

.footer button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.copyright{ /* copy right */
    color: black;
    font-size: small;
    margin: 10px;
}

@media only screen and (max-width: 780px) {
    body{
        padding-top: 100px;
    }

    .filter{
        display: none;
    }

    .content{
        max-width: 100%;
    }

    #search_form{
        display: none;
    }

    .logo{
        height: 20px; width: 150px;
    }

    .header{
        height: auto;
    }

    .header a{
        font-size: smaller;
    }

    h1{
        font-size: 1.5rem;
    }


    .footer_content{
        flex-direction: column;
        gap: 2rem;
        margin:20px;
    }
}