*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    padding-top: 75px;
}

.header{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header li {
    list-style-type: none;
}

.header a {
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: small; font-weight: 400;
}

.header a:hover {
    color: gray;
}

.header ul li img:hover {
    filter: grayscale(100%) brightness(1000%) invert(50%); 
    scale: 1.1;
}

.logo{
    height: 30px; width: 200px;
    cursor: pointer;
}

li img{
    filter: grayscale(100%) brightness(1000%) invert(100%); 
    margin-top:10px; margin-left: 15px; 
    cursor:pointer; 
    height: 20px; width: 20px;
}

.nav ul {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.nav li {
    list-style-type: none;
}

.nav a {
    display: inline-block;
    padding: 15px 25px;
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
    color: grey;
    font-weight: 500;
    transition: transform 0.1s ease-in-out;
}

.nav a:hover {
    transform: scale(1.1);
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.nav a.active {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 10px;
    padding: 20px 70px;
    margin: 45px 0;
    width: 80%;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
}

.form h1{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.form label{
    font-size: medium;
    font-weight: 500;
    align-self: flex-start;
}

.form > label{ /*Fix icon makes white spaces*/
    margin-bottom: -15px;
}

.prefix{
    align-self: flex-start;
    transform: translate3D(100%,230%,0);
}

.suffix{
    align-self: flex-end;
    transform: translate3D(-50%,-170%,0);
    cursor: pointer;
    text-align: center; /* Center and Fixed width due to eye and eye-slash are not the same width -> moving when toggled*/
    width: 24px;
}

.name_group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px; /*When first, last name break to 2 lines, there will be 10px gap*/
}

.first_name, .last_name{
    flex: 1; /*flex-basis: 0 make 2 block in 1 line;*/
    min-width: 150px; 
    width: 50%;
}


#u_first_name, #u_last_name{ /*Use ID selector bc of .form input has higher score*/
    flex-grow: 1;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 10px;
    width: 100%;
}

.form input{
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 5px;
    font-size: medium;
    width: 100%;
    height: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.form #u_password, .form #u_confirm_password{
    font-size: medium;
    padding-right: 35px;
    margin-bottom: 0;
}

.form button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form span, .form p{
    margin-top: 10px;
    margin-left: 5px;
    font-size: small;
    color: black;
}

.form a{
    text-decoration: none;
    color: black;
}

.form a:hover{
    color: gray;
}

.form .signup_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form span:hover{
    color: gray;
    cursor: pointer;
}

.footer{
    background-color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.footer .join {
    background-color: black;
    color: white;
    margin: 20px 0 40px;
    font-weight: 600;
    font-size: medium;
}

.footer .join:hover{
    color: gray;
    cursor: pointer;
}

.footer img{
    filter: grayscale(100%) brightness(1000%) invert(100%); 
}

.footer_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0 0 40px 0;
    justify-content: space-around;
    gap: 4rem;
    align-items: flex-start;
}

.footer_content div{
    max-width: 300px;
}

.footer_content h1{
    color: black;
    font-size: large;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
    font-weight: 600;
}

.footer_content p, .footer_content a{
    text-align: left;
    font-size: small;
    line-height: 2;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.footer_content p:hover{
    color: gray;
}

.footer_content p:hover a{
    color: gray;
}

.footer_content a:hover{
    color: gray;
}

.footer i{
    margin: 0 10px 0 0;
}

.footer input {
    border-radius: 10px;
    height: 2.5rem;
    padding: 10px;
    margin: 20px 20px 0 0;
    transition: transform 0.1s ease-in-out;
}

.footer input:focus {
    outline: none;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
    transform: scale(1.05);
}

.footer button {
    border-radius: 10px;
    height: 2.5rem;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    transition: transform 0.1s ease-in-out;
}

.footer button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.copyright{ /* copy right */
    color: black;
    font-size: small;
    margin: 10px;
}

@media only screen and (max-width: 780px) {
    body{
        padding-top: 100px;
    }

    .logo{
        height: 20px; width: 150px;
    }

    .header a{
        font-size: smaller;
    }

    h1{
        font-size: 1.5rem;
    }


    .footer_content{
        flex-direction: column;
        gap: 2rem;
        margin:20px;
    }
}